.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.header:global(.__wab_instance) {
  position: relative;
}
.section:global(.__wab_instance) {
  position: relative;
}
.freeBox__fzHte {
  width: 100%;
  height: auto;
  max-width: 1104px /* plasmic-token: Jrg5TblqjqhJ */;
  display: flex;
  flex-direction: column;
  min-width: 0;
}
.freeBox__fzHte > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__fzHte > :global(.__wab_flex-container) > *,
.freeBox__fzHte > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fzHte > :global(.__wab_flex-container) > picture > img,
.freeBox__fzHte
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.columns__iTwUt {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns__iTwUt > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.columns__iTwUt > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns__iTwUt > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns__iTwUt > :global(.__wab_flex-container) > *,
.columns__iTwUt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__iTwUt > :global(.__wab_flex-container) > picture > img,
.columns__iTwUt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__iTwUt {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    flex-shrink: 1;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__iTwUt > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap-reverse;
    min-width: 0;
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__iTwUt > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 32px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__iTwUt > :global(.__wab_flex-container) > *,
  .columns__iTwUt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__iTwUt > :global(.__wab_flex-container) > picture > img,
  .columns__iTwUt
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 16px;
  }
}
.column__olObt {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__olObt {
    width: 100%;
  }
}
.freeBox___3Gs4 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox___3Gs4 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox___3Gs4 > :global(.__wab_flex-container) > *,
.freeBox___3Gs4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___3Gs4 > :global(.__wab_flex-container) > picture > img,
.freeBox___3Gs4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___3Gs4 {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___3Gs4 > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text__f6NIp {
  font-size: 32px;
  font-weight: 700;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
  position: relative;
  text-align: left;
}
.text__jxn9K {
  position: relative;
  text-align: left;
}
.bullet__wqtF5:global(.__wab_instance) {
  position: relative;
}
.bullet__poX6V:global(.__wab_instance) {
  position: relative;
}
.bullet__zVCd6:global(.__wab_instance) {
  position: relative;
}
.text__jPs2O {
  position: relative;
  text-align: left;
}
.freeBox__zbNtL {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-top: calc(16px + 12px) !important;
}
.freeBox__zbNtL > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__zbNtL > :global(.__wab_flex-container) > *,
.freeBox__zbNtL > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zbNtL > :global(.__wab_flex-container) > picture > img,
.freeBox__zbNtL
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zbNtL {
    display: flex;
    flex-direction: column;
    margin-top: calc(16px + 12px) !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zbNtL > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zbNtL > :global(.__wab_flex-container) > *,
  .freeBox__zbNtL > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__zbNtL > :global(.__wab_flex-container) > picture > img,
  .freeBox__zbNtL
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.button__fv9BY:global(.__wab_instance) {
  position: relative;
}
.svg__wskvZ {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__kpWv {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__bEb1H:global(.__wab_instance) {
  position: relative;
}
.svg__bo2Lz {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__kseDl {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__yu6Rz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__yu6Rz {
    width: 100%;
  }
}
.img__vPP {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__vPP > picture > img {
  object-fit: cover;
}
.img__vPP > .__wab_img-spacer > img {
  object-fit: cover;
}
.columns___8Dy9F {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  min-width: 0;
}
.columns___8Dy9F > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.columns___8Dy9F > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns___8Dy9F > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns___8Dy9F > :global(.__wab_flex-container) > *,
.columns___8Dy9F > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns___8Dy9F > :global(.__wab_flex-container) > picture > img,
.columns___8Dy9F
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___8Dy9F {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___8Dy9F > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___8Dy9F > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 32px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___8Dy9F > :global(.__wab_flex-container) > *,
  .columns___8Dy9F > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns___8Dy9F > :global(.__wab_flex-container) > picture > img,
  .columns___8Dy9F
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 16px;
  }
}
.column__fAwEz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__fAwEz {
    width: 100%;
  }
}
.img__wdy1D {
  position: relative;
  object-fit: cover;
  width: 100%;
  align-self: flex-start;
  min-width: 0;
}
.img__wdy1D > picture > img {
  object-fit: cover;
}
.img__wdy1D > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__bn0Ig {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__bn0Ig {
    width: 100%;
  }
}
.freeBox__rk7Ls {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__rk7Ls > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__rk7Ls > :global(.__wab_flex-container) > *,
.freeBox__rk7Ls > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rk7Ls > :global(.__wab_flex-container) > picture > img,
.freeBox__rk7Ls
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rk7Ls {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rk7Ls > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text__ofoJs {
  font-size: 32px;
  font-weight: 700;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
  position: relative;
  text-align: left;
}
.text__a3P3W {
  position: relative;
  text-align: left;
}
.bullet___34Scb:global(.__wab_instance) {
  position: relative;
}
.bullet__dr7Bc:global(.__wab_instance) {
  position: relative;
}
.bullet___5Vymx:global(.__wab_instance) {
  position: relative;
}
.text__xZwU6 {
  position: relative;
  text-align: left;
}
.freeBox__rskAn {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-top: calc(16px + 12px) !important;
}
.freeBox__rskAn > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__rskAn > :global(.__wab_flex-container) > *,
.freeBox__rskAn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rskAn > :global(.__wab_flex-container) > picture > img,
.freeBox__rskAn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rskAn {
    display: flex;
    flex-direction: column;
    margin-top: calc(16px + 12px) !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rskAn > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rskAn > :global(.__wab_flex-container) > *,
  .freeBox__rskAn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__rskAn > :global(.__wab_flex-container) > picture > img,
  .freeBox__rskAn
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.button___82Bsl:global(.__wab_instance) {
  position: relative;
}
.svg__sdV3 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__mZth {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button___6SUpz:global(.__wab_instance) {
  position: relative;
}
.svg__i3If2 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__kznGc {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.homeCta:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
