.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__nyog2 {
  flex-direction: column;
  display: flex;
  width: 100%;
  height: auto;
  max-width: 768px;
  min-width: 0;
  padding: 32px 48px;
  border: 2px solid var(--token-GpcED8_AcIn);
}
.freeBox__nyog2 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__nyog2 > :global(.__wab_flex-container) > *,
.freeBox__nyog2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nyog2 > :global(.__wab_flex-container) > picture > img,
.freeBox__nyog2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.text__cui86 {
  position: relative;
  color: var(--token-NEon4Y--Z);
}
.freeBox__slIfF {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__slIfF > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__slIfF > :global(.__wab_flex-container) > *,
.freeBox__slIfF > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__slIfF > :global(.__wab_flex-container) > picture > img,
.freeBox__slIfF
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__vw3Mh {
  font-weight: 700;
}
.text__tyTzg {
  position: relative;
  color: var(--token-vaTuh5tFL3B);
}
