.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding-right: 16px;
  padding-left: 16px;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.header:global(.__wab_instance) {
  position: relative;
}
.faqSection:global(.__wab_instance) {
  position: relative;
}
.columns {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 8px;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 22px);
  width: calc(100% + 22px);
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 22px) * 6 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 22px) * 6 / 12);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 22px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 22px) * 12 / 12);
  }
}
.column__bE7Ne {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.column__bE7Ne > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.column__bE7Ne > :global(.__wab_flex-container) > *,
.column__bE7Ne > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__bE7Ne > :global(.__wab_flex-container) > picture > img,
.column__bE7Ne
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 30px;
}
.text__bepQ {
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  font-style: italic;
  min-width: 0;
}
.text___8Uzwp {
  height: auto;
}
.text__yWIn {
  height: auto;
}
.text___3O6Em {
  width: auto;
}
.text__l94Ln {
  height: auto;
}
.text__zE7Sg {
  height: auto;
}
.text___3O6Em {
  height: auto;
}
.column__yQo9 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.column__yQo9 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.column__yQo9 > :global(.__wab_flex-container) > *,
.column__yQo9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__yQo9 > :global(.__wab_flex-container) > picture > img,
.column__yQo9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 30px;
}
.text___81H7J {
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  font-style: italic;
  min-width: 0;
}
.text__uv3Pt {
  padding-right: 0px;
}
.text__mFNrb {
  height: auto;
}
.freeBox__foUiQ {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.freeBox__foUiQ > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__foUiQ > :global(.__wab_flex-container) > *,
.freeBox__foUiQ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__foUiQ > :global(.__wab_flex-container) > picture > img,
.freeBox__foUiQ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.text__ucw8O {
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  min-width: 0;
}
.freeBox__d9NQl {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__d9NQl > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.freeBox__d9NQl > :global(.__wab_flex-container) > *,
.freeBox__d9NQl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__d9NQl > :global(.__wab_flex-container) > picture > img,
.freeBox__d9NQl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
.button___5JdvJ:global(.__wab_instance) {
  max-width: 100%;
  display: none;
}
.svg__bCa0 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__h281X {
  font-size: 24px;
}
.svg___9RRxP {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__lVhRh:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__v1Qfo {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__hgtpr {
  font-size: 24px;
}
.svg {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.footer:global(.__wab_instance) {
  position: relative;
}
