.root {
  width: 100%;
  height: auto;
  max-width: var(--token-Jrg5TblqjqhJ);
  display: flex;
  position: relative;
  justify-content: space-between;
  min-width: 0;
  padding: 16px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    min-width: 0;
    padding: 0px;
  }
}
.logoStack {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .logoStack {
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    max-width: var(--token-Jrg5TblqjqhJ);
    height: auto;
    align-self: flex-end;
    min-width: 0;
    display: flex;
    padding: 0px;
  }
}
.link {
  display: flex;
}
.freeBox__epH {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__epH {
    width: 100%;
    min-width: 0;
  }
}
.img__swJ7 {
  position: relative;
  object-fit: cover;
  width: 300px;
}
.img__swJ7 > picture > img {
  object-fit: cover;
}
.img__swJ7 > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__swJ7 {
    width: 217px;
  }
}
.text__aGoFa {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  font-weight: 400;
  align-self: center;
  font-size: 16px;
  text-align: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__aGoFa {
    font-size: 16px;
  }
}
.freeBox__vkDwz {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vkDwz {
    display: flex;
  }
}
.freeBox__rvsHw {
  flex-direction: row;
  display: flex;
  width: 100%;
  min-width: 0;
}
.freeBox__rvsHw > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__rvsHw > :global(.__wab_flex-container) > *,
.freeBox__rvsHw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rvsHw > :global(.__wab_flex-container) > picture > img,
.freeBox__rvsHw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rvsHw {
    display: flex;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rvsHw > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rvsHw > :global(.__wab_flex-container) > *,
  .freeBox__rvsHw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__rvsHw > :global(.__wab_flex-container) > picture > img,
  .freeBox__rvsHw
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 0px;
  }
}
.freeBox__adga6 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__adga6 {
    display: flex;
  }
}
.freeBox__p5Gbc {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  display: none;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__p5Gbc {
    width: 100%;
    min-width: 0;
    display: flex;
  }
}
.img__cvUFq {
  position: relative;
  object-fit: cover;
  width: 300px;
}
.img__cvUFq > picture > img {
  object-fit: cover;
}
.img__cvUFq > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__cvUFq {
    width: 217px;
    display: none !important;
  }
}
.text__s1Lk2 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  font-weight: 400;
  align-self: center;
  font-size: 16px;
  text-align: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__s1Lk2 {
    font-size: 16px;
    display: none;
  }
}
.freeBox__qo3K {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qo3K {
    display: none;
  }
}
.svg__hatGl {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__xcyV6 {
  font-size: 22px;
}
.svg___7OwU {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__ibAwr {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text___8SdOh {
  font-size: 22px;
}
.svg__uZ6A {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__ctfKy {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__eD5Ta {
  font-size: 22px;
}
.svg__w9Yu {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__cw2UZ {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cw2UZ {
    display: flex;
  }
}
.svg__f8Hst {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__fxtVt {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__gwXsR:global(.__wab_instance) {
  position: relative;
}
.svg__fS2UP {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__iqcN8 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__gpnhi:global(.__wab_instance) {
  position: relative;
}
.svg__pwZgw {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg___8OYxa {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
