.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.header:global(.__wab_instance) {
  position: relative;
}
.section:global(.__wab_instance) {
  position: relative;
  height: auto;
}
.freeBox__un7KO {
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: var(--token-Jrg5TblqjqhJ);
  display: flex;
  min-width: 0;
}
.freeBox__un7KO > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 25px);
  height: calc(100% + 25px);
}
.freeBox__un7KO > :global(.__wab_flex-container) > *,
.freeBox__un7KO > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__un7KO > :global(.__wab_flex-container) > picture > img,
.freeBox__un7KO
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 25px;
}
.text__uRo {
  position: relative;
  width: 100%;
  height: auto;
  align-self: center;
  text-align: center;
  font-weight: 800;
  font-style: normal;
  font-size: 50px;
  min-width: 0;
}
.testimonial__myxGt:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__udkxc {
  display: none;
}
.testimonial__ejwyP:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__hqgD {
  padding-left: 0px;
}
.testimonial___4Gfj6:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text___2FvOj {
  display: none;
}
.text__gCve3 {
  height: auto;
}
.testimonial___6LbZ:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__x0UZo {
  margin-bottom: 0px;
}
.text__khk2D {
  display: none;
}
.text__lsDAp {
  height: auto;
  padding-right: 0px;
}
.testimonial__xlZy7:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__ltSmU {
  margin-bottom: 0px;
}
.text__wc9F9 {
  display: none;
}
.text__mHd2Y {
  height: auto;
  padding-left: 0px;
}
.testimonial__isjLq:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__foLhg {
  margin-bottom: 0px;
}
.text__jdlMt {
  display: none;
}
.text__jNNo7 {
  height: auto;
}
.testimonial__hSbmO:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__ykmpj {
  margin-bottom: 0px;
}
.text___5MMqO {
  display: none;
}
.text__uvcgA {
  height: auto;
}
.testimonial__juCBc:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text___5Y3Em {
  margin-bottom: 0px;
}
.text__fibVf {
  display: none;
}
.text__tl2Oj {
  height: auto;
}
.freeBox__uF8Xj {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__uF8Xj > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.freeBox__uF8Xj > :global(.__wab_flex-container) > *,
.freeBox__uF8Xj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uF8Xj > :global(.__wab_flex-container) > picture > img,
.freeBox__uF8Xj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
.button__gK8Ah:global(.__wab_instance) {
  max-width: 100%;
}
.svg__oDhWh {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__aAaTf {
  font-size: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__aAaTf {
    font-size: 21px;
  }
}
.svg___15Jz1 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__ietiQ:global(.__wab_instance) {
  max-width: 100%;
}
.svg__r4IAq {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__tVbu {
  font-size: 24px;
  margin-right: 6px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__tVbu {
    font-size: 21px;
  }
}
.svg {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.footer:global(.__wab_instance) {
  position: relative;
}
