.root {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :global(.__wab_flex-container) {
    min-width: 0;
    min-height: 0;
  }
}
.header:global(.__wab_instance) {
  position: relative;
}
.topSection:global(.__wab_instance) {
  position: relative;
}
.freeBox___8IivV {
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 1104px /* plasmic-token: Jrg5TblqjqhJ */;
  display: flex;
  position: relative;
  min-width: 0;
}
.freeBox___8IivV > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox___8IivV > :global(.__wab_flex-container) > *,
.freeBox___8IivV > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___8IivV > :global(.__wab_flex-container) > picture > img,
.freeBox___8IivV
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___8IivV {
    width: 100%;
    height: auto;
    max-width: 1104px /* plasmic-token: Jrg5TblqjqhJ */;
    display: flex;
    position: relative;
    flex-direction: column;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___8IivV > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___8IivV > :global(.__wab_flex-container) > *,
  .freeBox___8IivV > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___8IivV > :global(.__wab_flex-container) > picture > img,
  .freeBox___8IivV
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__ipCbl {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-width: 0;
}
.freeBox__ipCbl > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__ipCbl > :global(.__wab_flex-container) > *,
.freeBox__ipCbl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ipCbl > :global(.__wab_flex-container) > picture > img,
.freeBox__ipCbl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ipCbl {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ipCbl > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ipCbl > :global(.__wab_flex-container) > *,
  .freeBox__ipCbl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__ipCbl > :global(.__wab_flex-container) > picture > img,
  .freeBox__ipCbl
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__buwJe {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__jGoUd {
  font-size: 96px;
  font-weight: 700;
  text-align: center;
  line-height: 1;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__jGoUd {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    line-height: 1;
    color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
  }
}
.text__zFTxq {
  font-size: 96px;
  font-weight: 700;
  text-align: center;
  line-height: 1;
  color: rgba(51, 140, 245, 0);
  background: linear-gradient(
      90deg,
      rgb(51, 140, 245) 0%,
      rgb(79, 209, 197) 100%
    )
    0% 0% / 100% 100% padding-box /* clip: text **/;
  padding-bottom: 12px;
  background-clip: text;
  -webkit-background-clip: text;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__zFTxq {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    line-height: 1;
    color: rgba(51, 140, 245, 0);
    background: linear-gradient(
        90deg,
        rgb(51, 140, 245) 0%,
        rgb(79, 209, 197) 100%
      )
      0% 0% / 100% 100% padding-box /* clip: text **/;
    background-clip: text;
    -webkit-background-clip: text;
  }
}
.text___9UzeT {
  font-size: 20px;
  text-align: center;
  max-width: 768px;
  position: relative;
  align-self: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___9UzeT {
    font-size: 24px;
    text-align: center;
    max-width: 768px;
    position: relative;
    align-self: center;
  }
}
.freeBox__ryJtB {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__ryJtB > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__ryJtB > :global(.__wab_flex-container) > *,
.freeBox__ryJtB > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ryJtB > :global(.__wab_flex-container) > picture > img,
.freeBox__ryJtB
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.button__tJtGr:global(.__wab_instance) {
  position: relative;
}
.svg__brMnt {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__wnpEg {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__gvh3I:global(.__wab_instance) {
  position: relative;
}
.svg__umled {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__ggbex {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__hlwiq {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 1000px;
  min-width: 0;
}
.img__d9Gwh {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__d9Gwh > picture > img {
  object-fit: cover;
}
.img__d9Gwh > .__wab_img-spacer > img {
  object-fit: cover;
}
.solutions:global(.__wab_instance) {
  position: relative;
}
.columns {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.column__vQbi7 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__vQbi7 {
    width: 100%;
  }
}
.freeBox__z3D92 {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__z3D92 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__z3D92 > :global(.__wab_flex-container) > *,
.freeBox__z3D92 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__z3D92 > :global(.__wab_flex-container) > picture > img,
.freeBox__z3D92
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__z3D92 {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__z3D92 > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text__uyPny {
  font-size: 32px;
  font-weight: 700;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
  position: relative;
}
.text__dk9I {
  position: relative;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
}
.featureCard__nKoS:global(.__wab_instance) {
  position: relative;
}
.svg__pNr1Q {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg___6Lmws {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard___6TvBk:global(.__wab_instance) {
  position: relative;
}
.svg__x7QNx {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__i5BZo {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__vuyly:global(.__wab_instance) {
  position: relative;
}
.svg___4DPy {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__s8Db1 {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.column__leQ4 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__leQ4 {
    width: 100%;
  }
}
.img__hhqFl {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__hhqFl > picture > img {
  object-fit: cover;
}
.img__hhqFl > .__wab_img-spacer > img {
  object-fit: cover;
}
.howItWorks:global(.__wab_instance) {
  position: relative;
}
.freeBox__q566Z {
  flex-direction: row;
  display: flex;
  width: 100%;
  min-width: 0;
}
.freeBox__q566Z > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__q566Z > :global(.__wab_flex-container) > *,
.freeBox__q566Z > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__q566Z > :global(.__wab_flex-container) > picture > img,
.freeBox__q566Z
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
  margin-top: 20px;
}
.featureCard__w4I6Q:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__sd2EB {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: 84P6btZVPbKf */;
}
.svg__iJYv4 {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__nnRw9:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__vfMm1 {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: 84P6btZVPbKf */;
}
.svg__fCSeS {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__nU8Hf:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg___7TK4F {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: 84P6btZVPbKf */;
}
.svg__pCxD {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__ldbt2:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__g4Et1 {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: 84P6btZVPbKf */;
}
.svg__p9FLn {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__xsEco:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg___1GR0I {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: 84P6btZVPbKf */;
}
.svg___5Hx9 {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__trMdp:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__cJ2B {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: 84P6btZVPbKf */;
}
.svg__z3XXg {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.freeBox__c3TgN {
  display: block;
  position: absolute;
  left: 50%;
  top: auto;
  width: 2px;
  height: 77px;
  bottom: -88px;
  border: 1px solid rgb(234, 234, 234) /* plasmic-token: oviEzCCWrsKq */;
}
.validation:global(.__wab_instance) {
  position: relative;
}
.freeBox__eWafe {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__eWafe > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__eWafe > :global(.__wab_flex-container) > *,
.freeBox__eWafe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eWafe > :global(.__wab_flex-container) > picture > img,
.freeBox__eWafe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.freeBox__s7IcR {
  flex-direction: row;
  display: flex;
}
.freeBox__s7IcR > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__s7IcR > :global(.__wab_flex-container) > *,
.freeBox__s7IcR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__s7IcR > :global(.__wab_flex-container) > picture > img,
.freeBox__s7IcR
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
  margin-top: 24px;
}
.svg__uzuQx {
  position: relative;
  object-fit: cover;
  width: 124px;
  height: 24px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.svg__csQQ {
  position: relative;
  object-fit: cover;
  width: 83px;
  height: 30px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.svg__xhS1Y {
  position: relative;
  object-fit: cover;
  width: 125px;
  height: 39px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.svg__jFswV {
  position: relative;
  object-fit: cover;
  width: 113px;
  height: 30px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.svg___9C1L {
  position: relative;
  object-fit: cover;
  width: 109px;
  height: 33px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.testimonial:global(.__wab_instance) {
  position: relative;
}
.homeCta:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
