.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :global(.__wab_flex-container) {
    min-width: 0;
    min-height: 0;
  }
}
.header:global(.__wab_instance) {
  position: relative;
}
.topSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__pO4Au {
  width: 100%;
  height: auto;
  max-width: 1104px /* plasmic-token: Jrg5TblqjqhJ */;
  display: flex;
  position: relative;
  flex-direction: column;
  min-width: 0;
}
.freeBox__pO4Au > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__pO4Au > :global(.__wab_flex-container) > *,
.freeBox__pO4Au > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pO4Au > :global(.__wab_flex-container) > picture > img,
.freeBox__pO4Au
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pO4Au {
    width: 100%;
    height: auto;
    max-width: 1104px /* plasmic-token: Jrg5TblqjqhJ */;
    display: flex;
    position: relative;
    flex-direction: column;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pO4Au > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pO4Au > :global(.__wab_flex-container) > *,
  .freeBox__pO4Au > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__pO4Au > :global(.__wab_flex-container) > picture > img,
  .freeBox__pO4Au
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__m9Knd {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  min-width: 0;
}
.freeBox__m9Knd > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__m9Knd > :global(.__wab_flex-container) > *,
.freeBox__m9Knd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__m9Knd > :global(.__wab_flex-container) > picture > img,
.freeBox__m9Knd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__m9Knd {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__m9Knd > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__m9Knd > :global(.__wab_flex-container) > *,
  .freeBox__m9Knd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__m9Knd > :global(.__wab_flex-container) > picture > img,
  .freeBox__m9Knd
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__u394N {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__ghjKy {
  font-size: 96px;
  font-weight: 700;
  text-align: center;
  line-height: 1;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ghjKy {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    line-height: 1;
    color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
  }
}
.text___5Fuor {
  font-size: 96px;
  font-weight: 700;
  text-align: center;
  line-height: 1;
  color: rgba(51, 140, 245, 0);
  background: linear-gradient(
      90deg,
      rgb(51, 140, 245) 0%,
      rgb(79, 209, 197) 100%
    )
    0% 0% / 100% 100% padding-box /* clip: text **/;
  padding-bottom: 12px;
  background-clip: text;
  -webkit-background-clip: text;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___5Fuor {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    line-height: 1;
    color: rgba(51, 140, 245, 0);
    background: linear-gradient(
        90deg,
        rgb(51, 140, 245) 0%,
        rgb(79, 209, 197) 100%
      )
      0% 0% / 100% 100% padding-box /* clip: text **/;
    background-clip: text;
    -webkit-background-clip: text;
  }
}
.text___3WgOp {
  font-size: 20px;
  text-align: center;
  max-width: 768px;
  position: relative;
  align-self: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___3WgOp {
    font-size: 24px;
    text-align: center;
    max-width: 768px;
    position: relative;
    align-self: center;
  }
}
.freeBox__lpT7G {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__lpT7G > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__lpT7G > :global(.__wab_flex-container) > *,
.freeBox__lpT7G > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lpT7G > :global(.__wab_flex-container) > picture > img,
.freeBox__lpT7G
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.button__diSdz:global(.__wab_instance) {
  position: relative;
}
.svg__pmzhs {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg___4XHnh {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__cv9S9:global(.__wab_instance) {
  position: relative;
}
.svg__hTnVe {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__dgJKb {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__nvugP {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 1000px;
  min-width: 0;
}
.img__exQfe {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__exQfe > picture > img {
  object-fit: cover;
}
.img__exQfe > .__wab_img-spacer > img {
  object-fit: cover;
}
.solutions:global(.__wab_instance) {
  position: relative;
}
.columns {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  min-width: 0;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.column__zaaf0 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__zaaf0 {
    width: 100%;
  }
}
.freeBox__pN8Qh {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__pN8Qh > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__pN8Qh > :global(.__wab_flex-container) > *,
.freeBox__pN8Qh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pN8Qh > :global(.__wab_flex-container) > picture > img,
.freeBox__pN8Qh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pN8Qh {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pN8Qh > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text__aSRd {
  font-size: 32px;
  font-weight: 700;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
  position: relative;
}
.text__d2DJg {
  position: relative;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
}
.featureCard__toAWz:global(.__wab_instance) {
  position: relative;
}
.svg___4CNqE {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__ogzrz {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__s7CKw:global(.__wab_instance) {
  position: relative;
}
.svg___5Hu0W {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__pkdZj {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__xhdzI:global(.__wab_instance) {
  position: relative;
}
.svg__voGk {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__hBzCm {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.column__srJjz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__srJjz {
    width: 100%;
  }
}
.img__lyEwR {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__lyEwR > picture > img {
  object-fit: cover;
}
.img__lyEwR > .__wab_img-spacer > img {
  object-fit: cover;
}
.howItWorks:global(.__wab_instance) {
  position: relative;
}
.freeBox__aVxEn {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox__aVxEn > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__aVxEn > :global(.__wab_flex-container) > *,
.freeBox__aVxEn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__aVxEn > :global(.__wab_flex-container) > picture > img,
.freeBox__aVxEn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
  margin-top: 20px;
}
.featureCard__reKeO:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__kXbS7 {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: 84P6btZVPbKf */;
}
.svg__bDUyN {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard___8VUuH:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__hjAUu {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: 84P6btZVPbKf */;
}
.svg___555C {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard___2JH8A:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__ailEl {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: 84P6btZVPbKf */;
}
.svg__gJd9W {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__nxC0A:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__dbwfF {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: 84P6btZVPbKf */;
}
.svg__b6S3X {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__wDng1:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__va5Xm {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: 84P6btZVPbKf */;
}
.svg__l3Uki {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__vmN60:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__gMx7R {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: 84P6btZVPbKf */;
}
.svg__k7FW0 {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.freeBox__c3TgN {
  display: block;
  position: absolute;
  left: 50%;
  top: auto;
  width: 2px;
  height: 77px;
  bottom: -88px;
  border: 1px solid rgb(234, 234, 234) /* plasmic-token: oviEzCCWrsKq */;
}
.validation:global(.__wab_instance) {
  position: relative;
}
.freeBox__sspZq {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__sspZq > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__sspZq > :global(.__wab_flex-container) > *,
.freeBox__sspZq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sspZq > :global(.__wab_flex-container) > picture > img,
.freeBox__sspZq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.freeBox__jzEmP {
  display: flex;
  flex-direction: row;
}
.freeBox__jzEmP > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__jzEmP > :global(.__wab_flex-container) > *,
.freeBox__jzEmP > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jzEmP > :global(.__wab_flex-container) > picture > img,
.freeBox__jzEmP
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
  margin-top: 24px;
}
.svg__mqwXy {
  position: relative;
  object-fit: cover;
  width: 124px;
  height: 24px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.svg__drWGs {
  position: relative;
  object-fit: cover;
  width: 83px;
  height: 30px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.svg__xIAx {
  position: relative;
  object-fit: cover;
  width: 125px;
  height: 39px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.svg__fyr8F {
  position: relative;
  object-fit: cover;
  width: 113px;
  height: 30px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.svg__uOftE {
  position: relative;
  object-fit: cover;
  width: 109px;
  height: 33px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.testimonial:global(.__wab_instance) {
  position: relative;
}
.homeCta:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
