.root {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :global(.__wab_flex-container) {
    min-width: 0;
    min-height: 0;
  }
}
.header:global(.__wab_instance) {
  position: relative;
}
.topSection:global(.__wab_instance) {
  position: relative;
  margin-top: calc(-71px + 64px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .topSection:global(.__wab_instance) {
    margin-top: calc(-79px + 64px) !important;
  }
}
.freeBox__pO4Au {
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: var(--token-Jrg5TblqjqhJ);
  display: flex;
  position: relative;
  min-width: 0;
}
.freeBox__pO4Au > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__pO4Au > :global(.__wab_flex-container) > *,
.freeBox__pO4Au > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pO4Au > :global(.__wab_flex-container) > picture > img,
.freeBox__pO4Au
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pO4Au {
    width: 100%;
    height: auto;
    max-width: var(--token-Jrg5TblqjqhJ);
    display: flex;
    position: relative;
    flex-direction: column;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pO4Au > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pO4Au > :global(.__wab_flex-container) > *,
  .freeBox__pO4Au > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__pO4Au > :global(.__wab_flex-container) > picture > img,
  .freeBox__pO4Au
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__m9Knd {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-width: 0;
}
.freeBox__m9Knd > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__m9Knd > :global(.__wab_flex-container) > *,
.freeBox__m9Knd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__m9Knd > :global(.__wab_flex-container) > picture > img,
.freeBox__m9Knd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__m9Knd {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__m9Knd > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__m9Knd > :global(.__wab_flex-container) > *,
  .freeBox__m9Knd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__m9Knd > :global(.__wab_flex-container) > picture > img,
  .freeBox__m9Knd
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__u394N {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__ghjKy {
  font-size: 75px;
  font-weight: 700;
  text-align: center;
  line-height: 1;
  color: var(--token-NEon4Y--Z);
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ghjKy {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    line-height: 1;
    color: var(--token-NEon4Y--Z);
  }
}
.text___5Fuor {
  font-size: 75px;
  font-weight: 700;
  text-align: center;
  line-height: 1;
  color: rgba(51, 140, 245, 0);
  background: linear-gradient(90deg, #054600 0%, #00d72e 100%) 0% 0% / 100% 100%
    padding-box /* clip: text **/;
  padding-bottom: 12px;
  background-clip: text;
  -webkit-background-clip: text;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___5Fuor {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    line-height: 1;
    color: rgba(51, 140, 245, 0);
    background: linear-gradient(
        90deg,
        rgb(51, 140, 245) 0%,
        rgb(79, 209, 197) 100%
      )
      0% 0% / 100% 100% padding-box /* clip: text **/;
    background-clip: text;
    -webkit-background-clip: text;
  }
}
.text___3WgOp {
  font-size: 20px;
  text-align: center;
  max-width: 768px;
  position: relative;
  align-self: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___3WgOp {
    font-size: 24px;
    text-align: center;
    max-width: 768px;
    position: relative;
    align-self: center;
    padding-bottom: 0px;
  }
}
.freeBox__lpT7G {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__lpT7G > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__lpT7G > :global(.__wab_flex-container) > *,
.freeBox__lpT7G > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lpT7G > :global(.__wab_flex-container) > picture > img,
.freeBox__lpT7G
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.button__diSdz:global(.__wab_instance) {
  position: relative;
}
.svg__pmzhs {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__ionqj {
  font-size: 24px;
  padding: 10px;
}
.svg {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__cv9S9:global(.__wab_instance) {
  position: relative;
  display: none;
}
.svg__hTnVe {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__dgJKb {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__nvugP {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 1000px;
  min-width: 0;
}
.img {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 900px;
  min-width: 0;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: cover;
}
.img > .__wab_img-spacer > img {
  object-fit: cover;
}
.homeCta:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
