.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding-right: 16px;
  padding-left: 16px;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.header:global(.__wab_instance) {
  position: relative;
}
.pricingSection:global(.__wab_instance) {
  position: relative;
}
.columns {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 960px;
  min-width: 0;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 16px) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 16px) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 16px) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 16px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 20px;
  }
}
.column__uPwuw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 33.333333%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__uPwuw {
    width: 100%;
  }
}
.plan__cXwv1:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.text__yK8L {
  font-size: 48px;
}
.freeBox__i6SNx {
  display: flex;
  flex-direction: column;
  position: relative;
}
.freeBox__i6SNx > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__i6SNx > :global(.__wab_flex-container) > *,
.freeBox__i6SNx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__i6SNx > :global(.__wab_flex-container) > picture > img,
.freeBox__i6SNx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.bullet___1LxBr:global(.__wab_instance) {
  position: relative;
}
.bullet__kzGnL:global(.__wab_instance) {
  position: relative;
}
.bullet__hoH3E:global(.__wab_instance) {
  position: relative;
}
.button__g2FGs:global(.__wab_instance) {
  position: relative;
}
.svg__kvXe6 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__hbQw9 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__gTxOp {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 33.333333%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__gTxOp {
    width: 100%;
  }
}
.plan__sxfDy:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.text___48Bvc {
  font-size: 48px;
}
.freeBox__ts9Cp {
  display: flex;
  flex-direction: column;
  position: relative;
}
.freeBox__ts9Cp > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__ts9Cp > :global(.__wab_flex-container) > *,
.freeBox__ts9Cp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ts9Cp > :global(.__wab_flex-container) > picture > img,
.freeBox__ts9Cp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.bullet___3G7U:global(.__wab_instance) {
  position: relative;
}
.bullet__ov5:global(.__wab_instance) {
  position: relative;
}
.bullet__veEon:global(.__wab_instance) {
  position: relative;
}
.bullet__cfGpn:global(.__wab_instance) {
  position: relative;
}
.button__qcR2:global(.__wab_instance) {
  position: relative;
}
.svg__ts1Hx {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__r4K02 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__bolyl {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 33.333333%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__bolyl {
    width: 100%;
  }
}
.plan___91KZw:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.text__xwcoh {
  font-size: 48px;
}
.freeBox__u22QM {
  display: flex;
  flex-direction: column;
  position: relative;
}
.freeBox__u22QM > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__u22QM > :global(.__wab_flex-container) > *,
.freeBox__u22QM > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__u22QM > :global(.__wab_flex-container) > picture > img,
.freeBox__u22QM
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.bullet__r6Vqh:global(.__wab_instance) {
  position: relative;
}
.bullet___0HRdF:global(.__wab_instance) {
  position: relative;
}
.bullet___1I20Z:global(.__wab_instance) {
  position: relative;
}
.button___6YIdj:global(.__wab_instance) {
  position: relative;
}
.svg__urG53 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__tkO1M {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.faqSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__foUiQ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__foUiQ > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__foUiQ > :global(.__wab_flex-container) > *,
.freeBox__foUiQ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__foUiQ > :global(.__wab_flex-container) > picture > img,
.freeBox__foUiQ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.faq__y9Cgi:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.faq__pVejR:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
