.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.header:global(.__wab_instance) {
  position: relative;
}
.section:global(.__wab_instance) {
  position: relative;
}
.freeBox__cjOjo {
  width: 100%;
  height: auto;
  max-width: 1104px /* plasmic-token: Jrg5TblqjqhJ */;
  display: flex;
  flex-direction: column;
  min-width: 0;
}
.freeBox__cjOjo > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__cjOjo > :global(.__wab_flex-container) > *,
.freeBox__cjOjo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cjOjo > :global(.__wab_flex-container) > picture > img,
.freeBox__cjOjo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.columns__fOooK {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns__fOooK > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.columns__fOooK > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns__fOooK > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns__fOooK > :global(.__wab_flex-container) > *,
.columns__fOooK > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__fOooK > :global(.__wab_flex-container) > picture > img,
.columns__fOooK
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__fOooK {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    flex-shrink: 1;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__fOooK > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap-reverse;
    min-width: 0;
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__fOooK > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 32px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__fOooK > :global(.__wab_flex-container) > *,
  .columns__fOooK > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__fOooK > :global(.__wab_flex-container) > picture > img,
  .columns__fOooK
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 16px;
  }
}
.column__bBid {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__bBid {
    width: 100%;
  }
}
.freeBox__q4PG0 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__q4PG0 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__q4PG0 > :global(.__wab_flex-container) > *,
.freeBox__q4PG0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__q4PG0 > :global(.__wab_flex-container) > picture > img,
.freeBox__q4PG0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__q4PG0 {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__q4PG0 > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text__pvfvI {
  font-size: 32px;
  font-weight: 700;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
  position: relative;
  text-align: left;
}
.text__wFml8 {
  position: relative;
  text-align: left;
}
.bullet__iUgfr:global(.__wab_instance) {
  position: relative;
}
.bullet__j5Vu2:global(.__wab_instance) {
  position: relative;
}
.bullet___1MNgm:global(.__wab_instance) {
  position: relative;
}
.text__fjnn {
  position: relative;
  text-align: left;
}
.freeBox__wOaNu {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-top: calc(16px + 12px) !important;
}
.freeBox__wOaNu > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__wOaNu > :global(.__wab_flex-container) > *,
.freeBox__wOaNu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wOaNu > :global(.__wab_flex-container) > picture > img,
.freeBox__wOaNu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wOaNu {
    display: flex;
    flex-direction: column;
    margin-top: calc(16px + 12px) !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wOaNu > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wOaNu > :global(.__wab_flex-container) > *,
  .freeBox__wOaNu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__wOaNu > :global(.__wab_flex-container) > picture > img,
  .freeBox__wOaNu
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.button__uatwZ:global(.__wab_instance) {
  position: relative;
}
.svg__fg0S9 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__nGUvR {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__dmm2N:global(.__wab_instance) {
  position: relative;
}
.svg__w3Z39 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__qjhyo {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__hfgUn {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__hfgUn {
    width: 100%;
  }
}
.img__yFvmk {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__yFvmk > picture > img {
  object-fit: cover;
}
.img__yFvmk > .__wab_img-spacer > img {
  object-fit: cover;
}
.columns__z4NOm {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  min-width: 0;
}
.columns__z4NOm > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.columns__z4NOm > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns__z4NOm > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns__z4NOm > :global(.__wab_flex-container) > *,
.columns__z4NOm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__z4NOm > :global(.__wab_flex-container) > picture > img,
.columns__z4NOm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__z4NOm {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__z4NOm > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__z4NOm > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 32px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__z4NOm > :global(.__wab_flex-container) > *,
  .columns__z4NOm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__z4NOm > :global(.__wab_flex-container) > picture > img,
  .columns__z4NOm
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 16px;
  }
}
.column___1StWy {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___1StWy {
    width: 100%;
  }
}
.img__cb8Pm {
  position: relative;
  object-fit: cover;
  width: 100%;
  align-self: flex-start;
  min-width: 0;
}
.img__cb8Pm > picture > img {
  object-fit: cover;
}
.img__cb8Pm > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__qytd0 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__qytd0 {
    width: 100%;
  }
}
.freeBox__cKdXp {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__cKdXp > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__cKdXp > :global(.__wab_flex-container) > *,
.freeBox__cKdXp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cKdXp > :global(.__wab_flex-container) > picture > img,
.freeBox__cKdXp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cKdXp {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cKdXp > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text__tYzw {
  font-size: 32px;
  font-weight: 700;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
  position: relative;
  text-align: left;
}
.text__g6K5X {
  position: relative;
  text-align: left;
}
.bullet__jBzwM:global(.__wab_instance) {
  position: relative;
}
.bullet__bHgGy:global(.__wab_instance) {
  position: relative;
}
.bullet__lri2Z:global(.__wab_instance) {
  position: relative;
}
.text___7BTgV {
  position: relative;
  text-align: left;
}
.freeBox___9QVpQ {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-top: calc(16px + 12px) !important;
}
.freeBox___9QVpQ > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox___9QVpQ > :global(.__wab_flex-container) > *,
.freeBox___9QVpQ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___9QVpQ > :global(.__wab_flex-container) > picture > img,
.freeBox___9QVpQ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9QVpQ {
    display: flex;
    flex-direction: column;
    margin-top: calc(16px + 12px) !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9QVpQ > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9QVpQ > :global(.__wab_flex-container) > *,
  .freeBox___9QVpQ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___9QVpQ > :global(.__wab_flex-container) > picture > img,
  .freeBox___9QVpQ
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.button__aiFj:global(.__wab_instance) {
  position: relative;
}
.svg__oj5Jy {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__vDhxc {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button___2WvDd:global(.__wab_instance) {
  position: relative;
}
.svg__vWsky {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__i3He {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.homeCta:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
