.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  position: relative;
  min-width: 0;
  padding: 32px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 0px;
  margin-top: 32px;
}
.freeBox__yi3Bm {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid rgb(234, 234, 234) /* plasmic-token: oviEzCCWrsKq */;
}
.freeBox__uVzoE {
  width: 100%;
  height: auto;
  max-width: 1104px /* plasmic-token: Jrg5TblqjqhJ */;
  display: flex;
  position: relative;
  flex-direction: row;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox__uVzoE > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__uVzoE > :global(.__wab_flex-container) > *,
.freeBox__uVzoE > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uVzoE > :global(.__wab_flex-container) > picture > img,
.freeBox__uVzoE
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__uVzoE {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__uVzoE > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__uVzoE > :global(.__wab_flex-container) > *,
  .freeBox__uVzoE > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__uVzoE > :global(.__wab_flex-container) > picture > img,
  .freeBox__uVzoE
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__jPby2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 128px;
  flex-shrink: 0;
}
.freeBox__jPby2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__jPby2 > :global(.__wab_flex-container) > *,
.freeBox__jPby2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jPby2 > :global(.__wab_flex-container) > picture > img,
.freeBox__jPby2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.iconLink__nSLhU:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__nNFb1 {
  position: relative;
  object-fit: cover;
  color: rgb(101, 103, 107) /* plasmic-token: vaTuh5tFL3B */;
  width: 32px;
  height: 32px;
}
.freeBox__cz9Q {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.link__xjgJ {
  color: #666666 /* plasmic-token: btwIxFafpquw */;
  font-size: 14px;
}
.root .link__xjgJ:hover {
  text-decoration-line: underline;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.text__dGp5 {
  position: relative;
  font-size: 14px;
  color: #666666 /* plasmic-token: btwIxFafpquw */;
}
.link__dnXm {
  position: relative;
  color: #666666 /* plasmic-token: btwIxFafpquw */;
  font-size: 14px;
}
.root .link__dnXm:hover {
  text-decoration-line: underline;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.freeBox__o84Ev {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__o84Ev > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-end;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__o84Ev > :global(.__wab_flex-container) > *,
.freeBox__o84Ev > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__o84Ev > :global(.__wab_flex-container) > picture > img,
.freeBox__o84Ev
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__o84Ev {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__o84Ev > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__o84Ev > :global(.__wab_flex-container) > *,
  .freeBox__o84Ev > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__o84Ev > :global(.__wab_flex-container) > picture > img,
  .freeBox__o84Ev
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox___95TUp {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 150px;
  flex-shrink: 0;
}
.freeBox___95TUp > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___95TUp > :global(.__wab_flex-container) > *,
.freeBox___95TUp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___95TUp > :global(.__wab_flex-container) > picture > img,
.freeBox___95TUp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__j47BP {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link__iatC {
  font-size: 14px;
  position: relative;
  color: #666666 /* plasmic-token: btwIxFafpquw */;
}
.root .link__iatC:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__iEAy {
  position: relative;
  color: #666666 /* plasmic-token: btwIxFafpquw */;
  font-size: 14px;
}
.root .link__iEAy:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__yd8Sd {
  position: relative;
  color: #666666 /* plasmic-token: btwIxFafpquw */;
  font-size: 14px;
}
.root .link__yd8Sd:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__uePVx {
  position: relative;
  color: #666666 /* plasmic-token: btwIxFafpquw */;
  font-size: 14px;
}
.root .link__uePVx:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link___7Eha9 {
  position: relative;
  color: #666666 /* plasmic-token: btwIxFafpquw */;
  font-size: 14px;
}
.root .link___7Eha9:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.freeBox__lAoKd {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__lAoKd > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__lAoKd > :global(.__wab_flex-container) > *,
.freeBox__lAoKd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lAoKd > :global(.__wab_flex-container) > picture > img,
.freeBox__lAoKd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__nqeFq {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link__ckcgv {
  position: relative;
  color: #666666 /* plasmic-token: btwIxFafpquw */;
  font-size: 14px;
}
.root .link__ckcgv:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__zxIj0 {
  position: relative;
  color: #666666 /* plasmic-token: btwIxFafpquw */;
  font-size: 14px;
}
.root .link__zxIj0:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__zaPwu {
  position: relative;
  color: #666666 /* plasmic-token: btwIxFafpquw */;
  font-size: 14px;
}
.root .link__zaPwu:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__xmGdk {
  position: relative;
  color: #666666 /* plasmic-token: btwIxFafpquw */;
  font-size: 14px;
}
.root .link__xmGdk:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__sVbl {
  position: relative;
  color: #666666 /* plasmic-token: btwIxFafpquw */;
  font-size: 14px;
}
.root .link__sVbl:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.freeBox__yr1Hm {
  display: flex;
  flex-direction: column;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__yr1Hm > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__yr1Hm > :global(.__wab_flex-container) > *,
.freeBox__yr1Hm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yr1Hm > :global(.__wab_flex-container) > picture > img,
.freeBox__yr1Hm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__qnsjn {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link__xnc0L {
  position: relative;
  color: #666666 /* plasmic-token: btwIxFafpquw */;
  font-size: 14px;
}
.root .link__xnc0L:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__bHQz {
  position: relative;
  color: #666666 /* plasmic-token: btwIxFafpquw */;
  font-size: 14px;
}
.root .link__bHQz:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__eB5G {
  position: relative;
  color: #666666 /* plasmic-token: btwIxFafpquw */;
  font-size: 14px;
}
.root .link__eB5G:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__hsVf6 {
  position: relative;
  color: #666666 /* plasmic-token: btwIxFafpquw */;
  font-size: 14px;
}
.root .link__hsVf6:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__n2Osm {
  position: relative;
  color: #666666 /* plasmic-token: btwIxFafpquw */;
  font-size: 14px;
}
.root .link__n2Osm:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.freeBox___2A8PO {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 200px;
  flex-shrink: 0;
}
.freeBox___2A8PO > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___2A8PO > :global(.__wab_flex-container) > *,
.freeBox___2A8PO > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___2A8PO > :global(.__wab_flex-container) > picture > img,
.freeBox___2A8PO
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__hyiwc {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.text__hnw9H {
  position: relative;
  font-size: 14px;
  color: #666666 /* plasmic-token: btwIxFafpquw */;
}
.textInput:global(.__wab_instance) {
  position: relative;
}
.svg__hZoad {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button:global(.__wab_instance) {
  position: relative;
}
.svg__maBuw {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: rgb(24, 119, 242) /* plasmic-token: p-fCTrfjtL4 */;
  width: 1em;
  height: 1em;
}
.svg__qhFTd {
  position: relative;
  object-fit: cover;
  width: 12px;
  height: 12px;
  color: rgb(24, 119, 242) /* plasmic-token: p-fCTrfjtL4 */;
}
.svg__im6O8 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox___9BVlP {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid rgb(234, 234, 234) /* plasmic-token: oviEzCCWrsKq */;
}
.freeBox__sZx0Z {
  width: 100%;
  height: auto;
  max-width: 1104px /* plasmic-token: Jrg5TblqjqhJ */;
  display: flex;
  position: relative;
  flex-direction: row;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox__sZx0Z > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sZx0Z {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sZx0Z > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sZx0Z > :global(.__wab_flex-container) > *,
  .freeBox__sZx0Z > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__sZx0Z > :global(.__wab_flex-container) > picture > img,
  .freeBox__sZx0Z
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.freeBox__pT9Mq {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__pT9Mq > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.freeBox__pT9Mq > :global(.__wab_flex-container) > *,
.freeBox__pT9Mq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pT9Mq > :global(.__wab_flex-container) > picture > img,
.freeBox__pT9Mq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
.link__rwOS {
  position: relative;
  color: #666666 /* plasmic-token: btwIxFafpquw */;
  height: auto;
  font-size: 14px;
}
.root .link__rwOS:hover {
  text-decoration-line: underline;
}
.link__ecLm4 {
  position: relative;
  color: #666666 /* plasmic-token: btwIxFafpquw */;
  font-size: 14px;
}
.root .link__ecLm4:hover {
  text-decoration-line: underline;
}
.text__g19O6 {
  position: relative;
  height: auto;
  width: auto;
  font-size: 14px;
  color: #666666 /* plasmic-token: btwIxFafpquw */;
}
.freeBox__zilMx {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__zilMx > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__zilMx > :global(.__wab_flex-container) > *,
.freeBox__zilMx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zilMx > :global(.__wab_flex-container) > picture > img,
.freeBox__zilMx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.iconLink___0TFo:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg___1CfOu {
  position: relative;
  object-fit: cover;
  color: rgb(101, 103, 107) /* plasmic-token: vaTuh5tFL3B */;
  width: 32px;
  height: 32px;
}
.root .svg___1CfOu:hover {
  color: rgb(24, 25, 26) /* plasmic-token: dph1wZ7NjV9 */;
}
.iconLink__kiQpe:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg___3AkQm {
  position: relative;
  object-fit: cover;
  color: rgb(101, 103, 107) /* plasmic-token: vaTuh5tFL3B */;
  width: 32px;
  height: 32px;
}
.root .svg___3AkQm:hover {
  color: rgb(24, 25, 26) /* plasmic-token: dph1wZ7NjV9 */;
}
.iconLink__sDoFd:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg___55Ypc {
  position: relative;
  object-fit: cover;
  color: rgb(101, 103, 107) /* plasmic-token: vaTuh5tFL3B */;
  width: 32px;
  height: 32px;
}
.root .svg___55Ypc:hover {
  color: rgb(24, 25, 26) /* plasmic-token: dph1wZ7NjV9 */;
}
