.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.header:global(.__wab_instance) {
  position: relative;
}
.section:global(.__wab_instance) {
  position: relative;
}
.freeBox__cjOjo {
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: var(--token-Jrg5TblqjqhJ);
  display: flex;
  min-width: 0;
}
.freeBox__cjOjo > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 25px);
  height: calc(100% + 25px);
}
.freeBox__cjOjo > :global(.__wab_flex-container) > *,
.freeBox__cjOjo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cjOjo > :global(.__wab_flex-container) > picture > img,
.freeBox__cjOjo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 25px;
}
.text__rlXrt {
  position: relative;
  width: 100%;
  height: auto;
  align-self: center;
  text-align: center;
  font-weight: 800;
  font-style: normal;
  font-size: 50px;
  min-width: 0;
}
.text__jVkc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.freeBox__snl6H {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__snl6H > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.freeBox__snl6H > :global(.__wab_flex-container) > *,
.freeBox__snl6H > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__snl6H > :global(.__wab_flex-container) > picture > img,
.freeBox__snl6H
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
.button___0GvsS:global(.__wab_instance) {
  max-width: 100%;
}
.svg__pIb4R {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__uNgCj {
  font-size: 24px;
}
.svg__wiYoF {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__pnlkX:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__u0XF2 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__uOOx2 {
  font-size: 24px;
}
.svg {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.footer:global(.__wab_instance) {
  position: relative;
}
